html{
    scroll-behavior: smooth;
}
.wrapper
{
}
.cart table
{
    width: 800px;
    border: 2px solid;
    margin: auto;
    margin-top:10px;
    border-collapse: collapse;


}
h1{
    text-align: center;
    line-height:50px;
}
.cart-title
{
    width:80%;
    height: 50px;
    margin:auto;
    background-image: linear-gradient(0,rgb(212, 211, 221),rgb(26, 59, 167));
}
.cart_table
{
    border: 1px solid;
}
.cart_table-row
{
    border: 2px solid;

}
.cart_table-column{
   text-align: center;
   line-height: 100px;
}
.cart_table-column img
{
    width:70px;
    height:70px;
    margin-top: 30px;
}
a,button:hover{
    cursor:pointer;
}
.cart_table-column
{
    height:10px;
    background-color:rgb(183, 233, 216);
}
.cart_table-row
{
    width:200px;
    text-align: center;
}